html,
body {
  height: 100%;
  /* scroll-snap-type: y mandatory; */
  /* background: black; */
}

a {
  text-decoration: none;
}

.bio-main,
.socials-main,
.projects-main 
{
  /* scroll-snap-align: start; */
}

/* BIO STYLING */

.dp-header-container {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.dp-header-background svg {
    position: absolute;
    width: 100%;
    height: 120%;
    z-index: -10;
  }

.title-text {
  font-family: "Montserrat", sans-serif;
  font-size: 7.5vw;
  width: 65%;
  font-weight: 500;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.05em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */

  animation: typing 1.75s steps(25, end), blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 65%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.bio-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 4vmin;
  width: 65%;

  visibility: hidden;

  animation: 3.2s fadein;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  70% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.title,
.bio {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bio-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

/* PROJECTS STYLING */

.projects-main {
  /* display: flex;
    align-items: center; */
  /* height: 100vh; */
  /* opacity: 0; */
  margin-top: 150px;
}

.project-title-text {
  font-family: "Montserrat", sans-serif;
  font-size: 6.5vh;
  text-align: center;
  padding-top: 3rem;
  font-weight: 600;
  padding-bottom: 3rem;
}

.masonry-wrapper {
  padding: 1.5em;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.masonry {
  columns: 1;
  column-gap: 10px;
}

.masonry-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.masonry-content {
    object-fit: cover;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    columns: 2;
  }
}

@media only screen and (min-width: 1024px) {
  .masonry {
    columns: 3;
  }
}

.masonry-item,
.masonry-content {
  overflow: hidden;
}

.masonry-item {
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.3));
}

.project-info {
  position: absolute;
  top: 0;
  padding: 1.5em;
  color: white;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1em;
  background-color: rgba(82, 207, 170, 0.9);
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

.project-info__wfd {
    background-color: rgba(104, 70, 62, 0.9);
}

.masonry-item:hover .project-info {
  visibility: visible;
  opacity: 1;
}

.project-info h3 {
  margin: 0 0 0.2em;
  font-size: 2em;
  font-weight: 700;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.project-info p {
  margin: 0.2em 0 0;
  font-size: 1em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* SOCIALS STYLING */

.dp-footer {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 600px;
  min-height: 100vh;
  margin-top: 200px;
  color: #252525;
}

.dp-social {
  margin: auto;
  text-align: center;
  font-size: 1em;
}

.socials-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dp-socials-a {
  position: relative;
  display: inline-block;
  width: 24%;
  padding: 3.75em 1.25em;
  margin: 0 0.2%;

  transition: background-color 0.4s;
}

.dp-socials-a:hover .dp-social-button-label {
  visibility: visible;
  opacity: 1;
}

.dp-socials-a:hover {
  background-color: rgb(65, 131, 196);
}

.github:hover {
  background-color: #ad5c51;
}

.cv:hover {
  background-color: rgb(43, 41, 41);
}

svg {
  width: 5rem;
  height: 5rem;
}

.dp-social-button-label {
  position: relative;
  margin-top: 1em;
  z-index: 2;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.2s, visibility 0.2s;
}

.dp-footer-background svg {
  position: absolute;
  width: 100%;
  height: 120%;
  top: -20%;
  left: 0;
  z-index: -10;
}

@media screen and (max-width: 2000px) {
  .dp-social,
  .dp-text {
    width: 68%;
  }
  .dp-text {
    font-size: 2.4em;
  }
  .dp-project-info {
    font-size: 1em;
  }
}
@media screen and (max-width: 1300px) {
  .dp-social,
  .dp-text {
    width: 80%;
  }
  .dp-text {
    font-size: 2.4em;
  }
  .dp-project {
    width: 49%;
    margin: 0.5%;
  }
  .dp-social-button-label {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1000px) {
  .dp-social,
  .dp-text {
    width: 90%;
  }
  .dp-text {
    font-size: 1.6em;
    font-weight: 500;
  }
  .dp-social-button-label {
    font-size: 0.7em;
  }
  .dp-dpader-links {
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  .dp-text {
    font-size: 1.4em;
  }
  .dp-project-info {
    font-size: 0.7em;
    padding: 1em;
  }
  .dp-social {
    padding: 3em 0;
  }
  .dp-social-button {
    display: inline-block;
    width: 30%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .dp-text {
    font-size: 1.1em;
  }
  .dp-project {
    width: 100%;
    margin: 0.5% 0;
  }
  .dp-project-info {
    font-size: 1em;
  }
  .dp-social-button {
    width: 40%;
  }
}
